<!DOCTYPE html>
<html th:lang="${#locale}" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: baseHead(~{::title})">
    <title th:text="#{page.edit_user.title}"></title>
</head>
<body>
    <div class="container">
        <h1 th:text="#{page.edit_user.title}"></h1>
        <form accept-charset="UTF-8" th:action="@{/users/edit/}" method="post" th:object="${user}">
            <input name="id" type="hidden" th:value="*{id}">
            <div class="form-group">
                <label for="name_field" th:text="#{user.name}"></label>
                <input id="name_field" name="name" class="form-control" type="text" th:value="*{name}" th:placeholder="#{enter.user.name}">
            </div>
            <div class="form-group">
                <label for="age_field" th:text="#{user.age}"></label>
                <input id="age_field" class="form-control" name="age" type="number" th:value="*{age}" th:placeholder="#{enter.user.age}">
            </div>
            <button type="submit" class="btn btn-primary" th:text="#{button.edit}"></button>
        </form>
    </div>
</body>
</html>