<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактирование пользователя</title>
</head>
<body>
    <form accept-charset="UTF-8" th:action="@{/users/edit/}" method="post" th:object="${user}">
        <input name="id" type="hidden" th:value="*{id}">
        <label>Имя пользователя:
            <input name="name" type="text" th:value="*{name}">
        </label>
        <label>Возраст
            <input name="age" type="number" th:value="*{age}">
        </label>
        <button type="submit">Отредактировать</button>
    </form>
</body>
</html>