<!DOCTYPE html>
<html th:lang="${#locale}" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: baseHead(~{::title})">
    <title th:text="#{page.edit_item.title}"></title>
</head>
<body>
<div class="container">
    <h1 th:text="#{page.edit_item.title}"></h1>
    <form accept-charset="UTF-8" th:action="@{/items/edit/}" method="post" th:object="${item}">
        <input name="id" type="hidden" th:value="*{id}">
        <div class="form-group">
            <label for="title_field" th:text="#{item.title}"></label>
            <input id="title_field" name="name" class="form-control" type="text" th:value="*{title}" th:placeholder="#{enter.item.name}">
        </div>
        <div class="form-group">
            <label for="price_field" th:text="#{item.price}"></label>
            <input id="price_field" class="form-control" name="price" type="number" th:value="*{price}" th:placeholder="#{enter.item.price}">
        </div>
        <button type="submit" class="btn btn-primary" th:text="#{button.edit}"></button>
    </form>
</div>
</body>
</html>