<!DOCTYPE html>
<html th:lang="${#locale}" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: baseHead(~{::title})">
    <title th:text="#{page.items.title}"></title>
</head>
<body>
  <div class="container">
    <h2 th:text="#{page.items.list}"></h2>
    <span th:unless="${items.size() > 0}" th:text="#{page.items.empty}"></span>
    <table th:if="${items.size() > 0}" class="table table-hover">
      <thead>
      <tr>
        <td th:text="#{id}"></td>
        <td th:text="#{item.title}"></td>
        <td th:text="#{item.price}"></td>
        <td th:text="#{actions}"></td>
      </tr>
      </thead>
      <tbody>
      <tr th:each="item : ${items}">
        <td th:text="${item.id}"></td>
        <td th:text="${item.title}"></td>
        <td th:text="${item.price}"></td>
        <td>
          <a th:href="@{/items/edit/} + ${item.id}" class="btn btn-primary" th:text="#{button.edit}"></a>
          <a th:href="@{/items/delete/} + ${item.id}" class="btn btn-danger" th:text="#{button.delete}"></a>
        </td>
      </tr>
      </tbody>
    </table>
    <h2 th:text="#{page.items.add}"></h2>
    <form method="POST" th:action="@{/items/add}" accept-charset="UTF-8" class="form-inline">
      <div class="form-group">
        <label class="sr-only" for="title_input" th:text="#{item.title}"></label>
        <input class="form-control" id="title_input" type="text" name="title" th:placeholder="#{enter.item.title}">
      </div>
      <div class="form-group">
        <label class="sr-only" for="price_input" th:text="#{item.price}"></label>
        <input class="form-control" id="price_input" type="number" name="price" th:placeholder="#{enter.item.price}">
      </div>
      <button type="submit" th:text="#{button.add}" class="btn btn-primary"></button>
    </form>
  </div>
</body>
</html>