<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Пользователи</title>
    <link rel='stylesheet' th:href='@{/webjars/bootstrap/css/bootstrap.min.css}'>
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
    <div class="container">
        <table class="table table-hover">
            <thead>
            <tr>
                <td th:text="#{id}"></td>
                <td th:text="#{user.name}"></td>
                <td th:text="#{user.age}"></td>
                <td th:text="#{actions}">Действие</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.name}"></td>
                <td th:text="${user.age}"></td>
                <td>
                    <a th:href="@{/users/edit/} + ${user.id}" class="btn btn-primary" th:text="#{button.edit}"></a>
                    <a th:href="@{/users/delete/} + ${user.id}" class="btn btn-danger" th:text="#{button.delete}"></a>
                </td>
            </tr>
            </tbody>
        </table>
        <form method="POST" th:action="@{/users/add}" class="form-inline">
            <div class="form-group">
                <label class="sr-only" for="name_input" th:text="#{user.name}"></label>
                <input id="name_input" class="form-control" type="text" name="name" th:placeholder="#{enter.user.name}">
            </div>
            <div class="form-group">
                <label class="sr-only" for="age_input" th:text="#{user.age}"></label>
                <input id="age_input" class="form-control" type="number" name="age" th:placeholder="#{enter.user.age}">
            </div>
            <button type="submit" class="btn btn-primary" th:text="#{button.add}"></button>
        </form>
    </div>
</body>
</html>